import type { Config } from "tailwindcss";

const config: Config = {
  content: [
    "./src/app/**/*.{ts,tsx,js,jsx}",
    "./src/components/**/*.{ts,tsx,js,jsx}",
  ],
  theme: {
    extend: {
      colors: {
        pine: "#0E2D1B",
        pagebg: "#F6F6EE",   // light page background
        leaf: "#EAF0DE",     // subtle card bg
        accent: "#E58E26",   // orange call-to-action
        buttonStroke: "#B57A2A"
      },
      borderRadius: {
        xl: "1rem"
      },
      fontFamily: {
        sans: ["Inter", "ui-sans-serif", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial"],
      }
    },
  },
  plugins: [],
};
export default config;
